html,
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  /* font-size: 100%; */
  /* vertical-align: baseline;
    background: transparent; */
}
body {
  width: 100vw !important;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
}
.head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 31px;
}
.active {
  color: #ff8b3b !important;
}
.content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 38px;
  padding: 10px;
  color: #ffffff;
}
.basic-info-text {
  background: #ff8b3b;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  margin-top: 40px;
  padding: 0px 0px 20px;
}
.basic-info-text img {
  /* position: absolute; */
  margin-top: -50px;
  width: 20px;
  margin-left: 96%;
  cursor: pointer;
}
.save-change {
  background: #ff8b3b;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 38px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.basic-info input {
  width: 45%;
  padding: 18px;
  border: 0.01px solid #686868;
  border-radius: 5px;
  margin-bottom: 35px;
}

.basic-info input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #686868;
  padding-left: -10px;
}
.address {
  width: 83%;
}
.company {
  width: 83%;
}
textarea {
  font-family: "Montserrat", sans-serif;
  padding: 28px;
  border: 0.5px solid #686868;
  border-radius: 5px;
  margin-bottom: 35px;
  color: #686868;
  width: 90.5%;
  height: 150px;
}
/* @media only screen and (min-width: 600px) {
    .basic-info input{
        width: 40.4%; 
    }
}
@media only screen and (max-width: 600px) {
    .basic-info-text img {
        margin-left: 85%;
    }
}
@media only screen and (max-width: 900px) {
    .basic-info input{
        width: 37.3%; 
    }
} */
.social-icons {
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 11px;
  width: fit-content;
  padding: 6px;
  cursor: pointer;
  margin-left: 22px;
}
.social-icons img {
  width: 30px;
}
.social-icon {
  display: flex;
  padding: 16px 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.social-buttons {
  display: flex;
}
.social-button {
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 5px;
  width: 300px;
  padding: 6px 10px;
}
input[id="social-check"] + label {
  transform: scale(4);
  margin-top: 13.5px;
}

/* ---------------- NAVBAR --------------------- */
.navbar {
  display: block;
  text-align: center;
}
.nav {
  position: center;
  /* margin-top: 15px; */
  /* margin-left: 150px;
     */
}
.nav a {
  text-decoration: none;
  text-align: center;
  padding: 13px !important;
  color: #000;

  font-weight: 600;
  font-style: normal;
  font-size: 15px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0px 25px 0px;
  background: #171717;
  box-shadow: 0 10px 30px 0px rgb(0 0 0 / 8%);
  color: #fff;
  left: 0;
  display: flex !important;
  justify-content: space-around;
}
.sticky img {
  margin-top: -10px;
}
.sticky a {
  color: #fff;
}
.login {
  display: flex;
  margin-bottom: 20px;
}
.navbar {
  padding: 25px 0px 25px 0px !important;
  background: #f8f8f8;
  box-shadow: 0px 12px 29px 1px rgba(0, 0, 0, 0.2);
  left: 0;
}
.container1 {
  margin: auto;
  width: 30%;
  margin-top: 100px !important;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  padding: 60px;
  margin-top: 50px;
}
.button {
  float: right;
  margin-right: 50px;
  /* margin-top: -30px; */
  /* margin-left: 200px; */
}
.button button {
  /* padding: 12px; */
}
.logo-img {
  /* float: left;
    margin-top: -20px;
    margin-left: 15px; */
  width: 80%;
  margin-left: -80px;
}
.button a {
  text-decoration: none;
}
.form-content1 input[type="submit"] {
  background: #ff8b3b;
  border: 3px solid #ffbb8b;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.form-content1 input {
  width: 100%;
}
.login h2 {
  color: #686868;
}
.login h3 {
  color: #d0d0d0;
  margin-top: 0px;
  font-size: 15px;
}
.form-content1 input {
  padding: 18px;
  border: 0.01px solid #686868;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 93.6%;
  font-family: "Montserrat";
  font-size: 15px;
}
.login-footer {
  display: flex;
  color: #686868;
  font-weight: 400;
}
.login-footer a {
  text-decoration: none;
  color: #686868;
  font-weight: 400;
}
button {
  cursor: pointer;
}
.register-footer {
  display: flex;
  width: 100%;
}
.content {
  padding: 80px;
  display: flex;
  margin-top: 30px;
}
.header-text h2 {
  color: #ff8b3b;
  font-size: 60px;
  line-height: 80px;
}
.header-text p {
  color: #686868;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
}
.create {
  background: #ff8b3b;
  border: 2px solid #ffbb8b;
  border-radius: 7px;
  color: #fff;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 16px;
}
.card-img {
  margin-top: -230px;
}
.lowercontent {
  display: flex;
}
.lower-text p {
  text-align: right;
  padding-left: 50px;
  padding-right: 80px;
  font-size: 19px;
  font-weight: 500;
}
.lowercontent button {
  float: right;
  margin-right: 80px;
}
.list {
  ext-align: right;
  padding-left: 50px;
  padding-right: 80px;
  font-size: 25px;
  font-weight: 500;
}

/* @media only screen and (max-width: 600px) {
    .lowercontent{
        display: block;
        padding: 10px;
    }
    .lower-text p{
        text-align: left;
        padding-left: 50px;
        padding-right: 80px;
        font-size: 25px;
        font-weight: 500;
    }

    .content{
        padding:10px;
        display: block;
        margin-top: 30px;
    }
    .content img{
        width: 100%;
        margin-top: 20px;
    }
    .lowercontent img{
        display: none;
    }
    
    .header-text h2{
        color: #FF8B3B;
        font-size: 40px;
        line-height: 40px;
    
    }
    .nav a{
        display: none;
    }
    .navbar{
        padding: 0px 1px;
        background: #F8F8F8;
        box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.2);
        width: 100%;
    }
    .navbar img{
        width: 50%;
        height: 50%;
        margin-top: 25px;
        padding: 10px;
    }
    .button{
        display: none;
    }
    .menu img{
        display: none;
    }
} */

.card-content {
  padding: 20px;
}
.menu {
  display: flex;
  padding-top: 50px;
  margin: auto;
  width: 50%;
}
.left-img img {
  margin-top: 18px;
  width: 20px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.right-img img {
  margin-top: 18px;
  margin-left: 35px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}
.img1 {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 16px;

  margin-left: 30px;
  cursor: pointer;
}
.img2 {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 16px;

  margin-left: 30px;
  cursor: pointer;
}
.img3 {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 16px;

  margin-left: 30px;
  cursor: pointer;
}
.img4 {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 16px;

  margin-left: 30px;
  cursor: pointer;
}
.img5 {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 16px;

  margin-left: 30px;
  cursor: pointer;
}
.img6 {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 14px;

  margin-left: 30px;
  cursor: pointer;
}
.icon {
  display: flex;
}
.icon img {
  width: 30px;
  height: 30px;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 700px;
  margin-top: 2px;
  cursor: pointer;
}
.user-img {
  display: flex;
}
.user-name p {
  float: right;
  position: absolute;
  color: #ff8b3b;
  margin-left: 650px;
  font-weight: 700;
  cursor: pointer;
}

/* ------------------ footer ----------------- */
.main-footer {
  margin-top: 80px;
}
.section1-img {
  margin: 15px;
  margin-left: 0px;
}
.section1 img {
  padding: 10px;
  width: fit-content;
}
.section1 {
  width: 400px;
}
.section1 p {
  margin-top: 20px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 13px;
  color: #999b9f;
  font-weight: 600;
}
.section2 p {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  color: #999b9f;
  font-weight: 600;
}
.section3 p {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  color: #999b9f;
  font-weight: 600;
}
.section4 p {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  color: #999b9f;
  font-weight: 600;
}
.section2 h3 {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
}
.section3 h3 {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
}
.section4 h3 {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  background: #0a0a0a;
  padding: 50px 0 50px 0;
}

.footer-last-part {
  font-size: 13px;
  text-align: center;
  color: #999b9f;
  background: #0a0a0a;
  padding: 18px 14px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* ------------------ user profile -------------------- */

.user-profile-body {
  margin: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 0px;
}
.user-profile-top {
  display: flex;
  padding: 12%;
}
.user-profile-img {
  border-radius: 50%;
  border: 3px solid #fff;
  background: #fff;
}
.user-profile-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid #000;
  padding: 10px;
}
.user-profile-name {
  margin-left: 20px;
  margin-top: 90px;
}
.user-profile-name h2 {
  margin-top: 0px;
  color: #686868;
  font-size: 35px;
}
.user-profile-info {
  margin-top: -300px;
  display: flex;
  padding: 12%;
  align-items: center;
  margin-right: auto;
}
.user-profile-info-button {
  margin-left: auto;
  float: right;
  order: 2;
}
.user-profile-info-button button {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  border: 5px solid #ffbb8b;
}
.user-profile-info-text h3 {
  font-size: 30px;
  color: #686868;
}
.user-settings-form {
  padding: 12%;

  margin-top: -350px;
}
.user-settings-form input {
  padding: 25px 14px;
  width: 100%;
  margin-top: 30px;
  border: 0.5px solid #686868;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #686868;
}
.user-profile-bottom {
  float: center;
  display: flex;
  padding: 12%;
  margin-top: -270px;
  justify-content: space-between;
}
.btn1 button {
  padding: 16px 88px;
  border-radius: 12px;
  border: none;
  background: #ffefef;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  color: #ff4b4b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.btn2 button {
  padding: 16px 58px;
  border-radius: 12px;
  border: none;
  background: #ffefef;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  color: #ff4b4b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.btn3 button {
  padding: 16px 58px;
  border-radius: 12px;
  border: none;
  background: #ffefef;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  color: #ff4b4b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.btn3 p {
  width: 250px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #aaaaaa;
}
.user-profile-submit {
  background: #ff8b3b;
  border-radius: 22px;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.23);
  border: 5px solid #ffbb8b !important;
  color: #fff !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700 !important;
  cursor: pointer;
}

. .logedin-user-img {
  float: right;
  margin-top: -20px;
}

.mobile-menu {
  background: black;
  display: none !important;
  position: absolute;
  right: 0;
  top: 0;
}

/* ----------------- top prifile card ------------- */
.top-profile-card {
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 0px;
  position: absolute;
  width: 230px !important;
  float: right;
  width: fit-content;
  height: 300px;
  border-radius: 10px;
  opacity: 0.9;
  z-index: 10;
  top: 0;
  right: 0;
  margin-right: 150px;
  margin-top: 75px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.top-profile-card-img {
  color: #fff;
  text-align: left;
  border-radius: 10px;
  background: #ff8b3b;
  height: 100px;
  padding-left: 20px;
}
.top-profile-card-img h2 {
  padding-top: 30px !important;
  font-weight: 500;
  font-size: 18px;
}

a:hover {
  color: #ff8b3b;
}

.top-profile-card ul {
  padding: 25px;
  text-align: left;
  line-height: 35px;
  font-size: 15px;
  font-weight: 600;
}
.top-profile-card {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes top-profile-card {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* --------------- mobile responsive ----------- */
@media screen and (max-width: 600px) {
  .nav #mylinks {
    display: none;
  }
  .submit-card-button input {
    padding: 16px !important;
  }
  textarea {
    width: 100% !important;
  }
  .head {
    font-size: 25px !important;
    line-height: 31px;
  }
  .text {
    font-size: 13px !important;
  }

  .basic-info-text {
    padding: 0px 0px 20px !important;
  }
  .prototype {
    display: none !important;
  }
  .container {
    width: 100% !important;
  }
  #login-user-button {
    display: none !important;
  }
  .sticky img {
    /* margin-top: 0 !important;
        margin-left: 30px !important; */
  }
  .user-card {
    width: 100vw !important;
  }
  .user-card-container {
    width: 100vw !important;
  }
  .top-profile-card {
    display: none !important;
  }
  .mobile-menu {
    display: block !important;
  }
  .user-card-container {
    display: block !important;
    margin: 3vw !important;
  }
  .user-card {
    margin-right: 0px !important;
  }
  .mobile-menu button {
    background: black;
    display: block !important;
    position: absolute;
    right: 20px;
    top: 25px;
  }
  .basic-info-text img {
    width: 15px;
    margin-left: 84%;
    cursor: pointer;
  }
  .social-buttons {
    display: block;
  }
  .social-button {
    margin-left: 0px;
  }
  .images {
    display: block !important;
  }
  .login-user-button {
    display: none !important;
  }
  .container1 {
    margin: auto;
    width: 60%;
  }
  .nav-text a {
    display: none;
  }
  .button {
    display: none;
  }
  .content-body {
  }
  .submit-card-button {
    width: 50% !important;
  }
  .basic-info input {
    width: 100%;
  }
  .social-icon {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .footer-content {
    display: block;
  }
  .lowercontent {
    display: block;
  }
  .header-img img {
    width: 100% !important;
  }
  .card-img {
    margin-top: 0px !important;
  }
  .card-img img {
    width: 100% !important;
    margin-top: 0px !important;
  }
  body {
    width: 100% !important;
  }
  .heaader-img {
    order: 1;
  }
  .lower-text p {
    padding: 20px;
    padding-left: 10px !important;
    text-align: left !important;
  }
  .section1 {
    padding: 20px;
    text-align: center;
  }
  .section2 {
    display: none;
  }
  .section3 {
    display: none;
  }
  .section4 {
    display: none;
  }
  .header-text h2 {
    color: #ff8b3b;
    font-size: 40px;
    line-height: 40px;
  }
  .logo-img {
    margin-left: 10px;
    width: 40%;
  }
  .main-footer {
    display: none;
  }
  .mobile-footer {
    width: 100vw;
    margin-top: 130px;
  }
  .lower-text ul {
    text-align: left !important;
    padding-left: 10px !important;
  }
  .lower-text li {
    padding: 3px;
  }
  .create {
    font-size: 12px;
  }
  .login-footer {
    display: none;
  }
  .nav-text {
    display: block !important;
  }
}

@media screen and (min-width: 480px) {
  .mobile-footer {
    display: none;
  }
}

.lower-text ul {
  text-align: right;
  list-style-type: none;
  padding-right: 80px;
  font-size: 19px;
  font-weight: 500;
}

.coming-soon {
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 0px;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 200px;
}
.coming-soon h2 {
  padding: 30px;
  text-align: center;
  margin: auto;
  width: fit-content;
  color: #ff8b3b;
  font-size: 30px;
}
.submit-card-button {
  width: 30%;
  margin: auto;
  padding: 18px 14px;
}
.submit-card-button input {
  background: #ff8b3b;
  width: 100%;
  border-radius: 10px;
  padding: 16px 50px;
  color: #fff;
  border: none;
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
}
.button-sticky {
  margin-top: 0px;
}

/* ------------ loading ---------------- */

/* #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
/* .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  } */

.images {
}
.img-upload {
  width: 300px !important;
  height: 180px !important;
  padding: 4px 8px !important;
}
.image1 img {
  width: 40px;
  height: 40px;
  padding: 54px 78px;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 11px;
  cursor: pointer;
}
/* .visuallyhidden{
    position: absolute;
    left: 30px;
    margin-top: 70px;
    opacity: 0; 
    filter:alpha(opacity=0);
    
} */

.images input[type="file"]::file-selector-button {
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  background: #ff8b3b;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

#result {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.thumbnail {
  height: 192px;
}

.social-button input {
  padding: 14px 12px;
  border-radius: 5px;
  border: 0.2px solid grey;
}

label img {
  width: 25px;
  padding-right: 10px;
}

/* ------------- card view page ----------------- */

.card-view-container {
  margin: 60px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
}
.card-details input {
  padding: 18px 22px;
}

/* -------------------USER CARD CREATED ------------------------ */

:root {
  --surface-color: #fff;
  --curve: 40;
}

/* * {
    box-sizing: border-box;
  }
   */
body {
  background-color: #fef8f8;
}

.cards {
  /* width: 50%; */
  display: flex;
  /* grid-template-columns: repeat(100%, minmax(300px, 1fr));  */
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;

  /* repeat(auto-fit, minmax(300px, 1fr)) */
}

.card {
  /* width: 50%; */
  position: relative;
  display: block;

  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0.3em 2em;
  margin: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card-header {
  font-size: 20px;
  margin-top: 4rem;
  color: #686868;
  margin-left: 5vw;
}

.no-cards {
  width: fit-content;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  margin: auto;
  margin-top: 250px;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}

.card-image img {
  margin-top: 30px;
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
  object-fit: cover;
}

/* --------------USER PROFILE NEW -------------------- */

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 16px;
  padding-top: 20px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

.btn-primary {
  color: #fff;
  background-color: #ff8b3b !important;
  border-color: #ffbb8b !important;
}

a:hover {
  color: #ff8b3b important;
}

a {
  text-decoration: none !important;
}

/* ---------------- iframe ----------------- */
.main-container-card {
  display: flex;
  width: 100vw;
}
.prototype {
  /* margin-left: 10px; */
  /* width: 28%; */
  margin-right: 50px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  height: fit-content;
}

.prototype-frame {
  border: 8px solid #000;
  overflow-x: hidden;
  overflow-y: auto;
  height: 640px;
  margin: 20px;
  margin-top: 40px;
  border-radius: 40px;
  width: 360px;
  background: #ff8b3b;
}
.device-header {
  background: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 15px;
  /* left: 100%; */
  transform: translate(-50%);
  margin-left: 172px;
  position: absolute;
  width: 150px;
  z-index: 99;
}
.prototype-content {
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: center;
     */
}
.prototype-content img {
  margin-top: 50px !important;
  border-radius: 50%;
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.prototype-content h2 {
  margin-top: 15px !important;
  font-size: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.prototype-frame::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.prototype-frame {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ------------ QRCODE STANDALONE GENERATOR ---------------- */

.qrcode-link {
  margin: 70px;

  display: flex;
}
.qrcode-first-section {
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);

  width: 50%;
}
.qrcode-first-section h2 {
  font-size: 20px;
  border-bottom: solid 1px #ced4da;
}
.qrcode-basic-info {
  margin: 40px 50px 0 50px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
}
.qrcode-basic-info h2 {
  padding: 15px 30px 15px 30px;
  background: #ff8b3b;
  border-bottom: solid 1px #eceef7;
}
.qrcode-first-section input {
  padding: 15px 10px;
  width: 400px;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.qrcode-form {
  margin-top: 40px;
  padding-bottom: 40px;
}
.qrcode-footer {
  margin-top: 40px;
  padding: 30px 50px 30px 50px;
  border-top: solid 1px #eceef7;
}
.qrcode-footer buttton {
}
.qrcode-second-section {
  margin-left: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  width: fit-content;
  padding: 30px;
}
.qrcode-second-section button {
  width: 100%;
  margin-top: 50px;
  border: none;
  padding: 10px 8px;
  background: #ff8b3b;
  color: #fff;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .qrcode-link {
    display: block !important;
    margin: 10px;
  }
  .qrcode-first-section {
    width: 100% !important;
  }
  .qrcode-first-section input {
    width: 90% !important;
    margin-left: 20px;
  }

  .qrcode-basic-info {
    margin: 40px 10px 0 10px !important;
    box-shadow: 0px 0px 13px rgb(0 0 0 / 9%);
  }

  .qrcode-second-section {
    margin-top: 20px;
    margin-left: 0px !important;
    background: #ffffff;
    box-shadow: 0px 0px 13px rgb(0 0 0 / 9%);
    width: fit-content;
    padding: 30px;
  }
}

/* ---------------- TOOLS ---------------- */

.tools-header h2 {
  font-size: 25px;
  line-height: 40px;
  margin-top: 40px;
  margin-left: 170px;
}

.tools-card-1 {
  background: #ffffff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  /* margin-left: 100px; */
  /* margin-top: 150px; */
  /* margin-right: 150px; */
  width: 350px;
  margin-bottom: 40px;
  /* height: 400px; */
}
.tools-card-1 i {
  font-size: 25px;
}
.tools-card-1 img {
  margin-top: 20px;
  width: 290px;
  margin-left: 50px;
}
.tools-card-1:hover {
  box-shadow: 0 0 11px #ff8b3b;
}
.tool-cards {
  display: flex;
  padding: 150px;
  justify-content: space-around;
  flex-flow: wrap;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .tool-cards {
    padding: 15px !important;
  }

  .tools-header h2 {
    margin-left: 15px !important;
  }

  .tools-card-1 img {
    margin-left: 30px !important;
  }
}

/* ------------COLOR CUSTOMIZATION ------------------ */
.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}
.color-body {
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.color-body:hover {
  border: 1px solid #000;
}
.customize {
  display: flex !important;
  width: 500px !important;
  justify-content: space-evenly !important;
  margin-left: 100px !important;
  margin-top: -30px !important;
}
.color-custom {
  margin-top: 30px !important;
}
.color-custom input {
  width: 100px;
  padding: 9px 8px;
  margin-left: 161px !important;
  margin-top: 31px;
}
.color-picker-icon {
  margin-left: 130px !important;
  background: #ff8f03;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  margin-top: 31px;
  position: absolute;
}
.clicked {
  border: 2px solid #000;
}

@media screen and (max-width: 600px) {
  .customize {
    display: flex !important;
    width: 200px !important;
    justify-content: space-evenly !important;
    margin-left: 30px !important;
    margin-top: 0px !important;
  }

  .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
  }

  .color-picker-icon {
    margin-left: 0px !important;
  }

  .color-custom input {
    margin-left: 30px !important;
  }
}

/* ------------- SUPPORT ------------- */

.user-sidebar {
  background: #fff;
  width: 17.5%;
  padding: 10px;
  padding-top: 30px;
  height: 680px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
}

.user-active {
}
.user-side-icon {
  padding: 2px 15px;
  width: 100%;
}
.user-content-body {
  display: flex;
}
.main-user-content {
  padding: 30px;
  width: 100%;
}
.main-user-content h3 {
  font-size: 20px;
  font-weight: 600;
}
.main-user-body-header {
  background: #fff;
  box-shadow: 0px 2px 10px rgba(150, 150, 150, 0.25);
  padding: 35px;
  border-radius: 12px;
  margin-top: 30px;
}
.main-body-header span {
  font-weight: 600;
  width: 100%;
}
.search input {
  background: #eef8ff;
  border-radius: 8px;
  border: none;
  padding: 8px;
  width: 600px;
}
.select-btn select {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 8px;
  width: 350px;
}

.search-button button {
  background: #094384;
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  width: 200px;
  border: none;
  cursor: pointer;
}

.content-list {
  margin-top: 50px;
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0px 2px 10px rgba(150, 150, 150, 0.25);
}

.pagination {
  display: flex !important;
  justify-content: end;
  margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  text-decoration: none;
}

#customers {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#customers td,
#customers th {
  border-bottom: 1px solid #ddd;
  padding: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-transform: lowercase;
  color: #444444;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eef8ff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  border: none !important;
  color: #6a6a6a;
}
.virtual-card p {
  background: #eeeeee;
  border-radius: 8px;
  padding: 20px;
  font-weight: 500;
  cursor: pointer;
}
.virtual-card p b {
  font-size: 20px;
}
#customers td button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}
.V-card i {
  padding: 10px;
  background: #ff8b3b;
  border-radius: 50%;
  font-size: 15px;
}
.side-icon p {
  font-weight: 600;
}
.side-icon {
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .main-user-content {
    padding: 10px;
  }

  .user-content-body {
    display: block;
  }

  .user-sidebar {
    display: none;
  }

  .main-user-body-header {
    padding: 10px;
  }
  .select-btn {
    padding: 0 10px;
  }
}

/* ------------------ PRICING ----------------- */
.pricing-header {
  text-align: center;
  margin-top: 30px;
}
.pricing-heaader h2 {
  color: #101828;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-weight: 600;
}
.month-year {
  display: flex;
  justify-content: center;
  background: #fff7f2;
  border: 1px solid #f2f4f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: fit-content;
  margin: auto;
  padding: 6px;
  border-radius: 6px;
}
.year button {
  margin: 0 10px;
  border: none;
  background: transparent;
  padding: 6px 15px;
  font-weight: 600;
  color: #667085;
}
.month button {
  border: none !important;
  background: transparent;
  padding: 6px 15px;
  color: #667085;
}
.active-price button {
  background: #ffffff !important;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 6px;
  font-weight: 600;
  color: #344054 !important;
}
.pricing-text {
  font-weight: 600;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: #ff8b3b;
}
.popular p {
  color: #ff8b3b;
  background: #fff7f2;
  mix-blend-mode: multiply;
  padding: 5px;
  font-weight: 500;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
  font-size: 10px;
}
.monthly-plans {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  flex: none;
  order: 0;
  /* flex-grow: 1; */
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 70px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.plan-button button {
  width: 260px;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 13px;
}
ul li {
  text-align: left;
  margin-left: -31px;
  font-size: 12px;
  line-height: 25px;
}
ul li i {
  color: #ff8b3b;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: block !important;
    padding: 0 10px !important;
  }
}

.free p {
  background: #ff8b3b !important;
  padding: 5px !important;
  border-radius: 10px !important;
  color: #fff !important;
}

.payment {
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 16px;
  width: fit-content;
  padding: 20px;
}
.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  width: 50%;
  margin-top: 250px;
}
.payment p {
  text-transform: capitalize;
}
#paymentForm button {
  padding: 10px 15px;
  border: none;
  background: #ff8b3b;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;
}
.payment h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    width: 100% !important;
    margin-top: 100px !important;
  }

  .payment {
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
      0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 16px;
    width: fit-content;
    padding: 20px;
    margin: 0 10px 0 10px !important;
  }
}
